**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.vs
**/.vscode
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.coverage
**/htmlcov
**/venv
**/env
**/ENV
**/.env.local
**/.env.*.local
**/node_modules
**/npm-debug.log
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/secrets.dev.yaml
**/values.dev.yaml
**/*.orig
**/*.log
**/logs
**/temp
**/tmp
**/.DS_Store
**/Thumbs.db
**/.idea
**/tests/
**/.mypy_cache
