AZURE_OPENAI_ENDPOINT = TODO
AZURE_OPENAI_API_KEY = TODO
AZURE_OPENAI_API_VERSION = TODO
AZURE_OPENAI_DEPLOYMENT_GPT_35_TURBO = TODO
AZURE_OPENAI_MODEL_VERSION_GPT_35_TURBO = TODO
AZURE_OPENAI_TEMPERATURE = TODO

LLM_PROVIDER = TODO
GROQ_API_KEY = TODO
GROQ_MODEL = TODO
GROQ_BASE_URL = TODO
GROQ_TEMPERATURE = TODO