**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/bin
**/TestResults
**/.coverage
**/.nyc_output
**/coverage.xml
**/lcov.info
**/*.orig
**/*.log
**/logs
**/temp
**/tmp
**/.DS_Store
**/Thumbs.db
**/*.DotSettings
**/*.idea
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
**/[Rr]eleases/
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Oo]bj/
**/[Bb]in/
